body {
    background-color: blue;
}

h1 {
    margin: 30px;
    font-size: large;
    background-color: crimson;
}
h2 {
    margin: 20px;
    padding: 10px;
    border: 400 x 50;
    width: 180px;
    font-size: x-large;
    background-color: aqua;
}
h3 {
    margin: 20px;
    padding: 10px;
    border:  400 x 50;
    width: 400px;
    height: 10px;
    font-size: x-large;
    background-color: salmon;
    text-align: center;  
}

ol {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    list-style-type: decimal;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin: 50px;
    padding-right: 20px;
}

ul {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin: 50px;
    padding-right: 20px;
}

p {
    padding: 10px;
}

#first-paragraph {
}

container {
    width: 200px;
    height: 120px;
}